<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs") %>

    <body>
        <div class="container">
            <nav class="navbar">
                <a href="/new">Add a New Car</a>
            </nav>
        </div>
        <div class="container" id="heading">
            <h1>Top Class Imports <br />
                トップクラス
            </h1>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
        <div class="container">
            <form>
                <label for="make">Choose a Make</label>
                <select class="form-control" name="make" id="make">
                    <option value="All">All</option>
                    <option value="Nissan">Nissan</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Mitsubishi">Mitsubishi</option>
                    <option value="Mazda">Mazda</option>
                    <option value="Eunos">Eunos</option>
                    <option value="Honda">Honda</option>
                    <option value="Suzuki">Suzuki</option>
                    <input type="submit">
                </select>
            </form>
        </div>
        <br />
        <div class="container">
            <div class="row">
                <%cars.forEach(car=> { %>
                    <div class="col-lg">
                        <a href="/<%=car._id %>">
                            <img id="primary" src="<%=car.image %>">
                        </a>
                        <br />
                        <div class="container">
                            <a href="/<%=car._id %>">
                                <%=car.name%>
                            </a>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </body>

</html>