<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs") %>

<body>
    <a href="/">Back to Home</a>
    <h1><%=car.name %></h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <img id="primary" src="<%=car.image %>"><br />
    Make: <%=car.make %><br />
    Year: <%=car.year %><br />
    Kilometers: <%=car.kilometers %><br />
    Price: <%=car.price %><br />
    <a href=": <%=car.link %>"><button>Listing Here</button></a><br />
    <form action="/<%=car._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger btn-sm" type="submit">DELETE</button>
    </form>
    <button class=" btn btn-outline-secondary" type="submit">
        <a href="/<%=car._id %>/edit">Edit</a>
    </button>
</body>
<style>
    #primary {
       width: 500px;
       height: auto; 
    }
</style>
</html>